 * {
box-sizing: border-box;
margin: 0;
padding: 0;
}
.presentation-contenu{
    display: flex;
    flex-wrap: wrap;
    height: 1500px;
    justify-content: center;
    background-color: rgb(180, 35, 224)
}
.boule{
    width: 40%;
    margin-left: 20%;
}
.h1{
    font-size: 30px;
    text-shadow: 1px 1px 2px black;
    margin-top: 50px;
    margin-left: -150px;
    text-align: center;
}
.division{
    background-color: green;
    height: 100px;
    width: 1000px;
    border-radius: 10px;
    padding: 15px;
    margin-right: 15px;
}
.division2{
    background-color: green;
    height: 300px;
    width: 700px;
    border-radius: 10px;
    margin-right: 100px;
    margin-bottom: 900px;
    padding: 20px;
}
.carte{
    height: 400px;
    margin-top: -50px;
}
p{
    font-size: 25px;
}
.division3{
    background-color: green;
    height: 300px;
    width: 700px;
    border-radius: 5%;
    padding: 20px;
    margin-top: -850px;
    margin-left: 50px;
}
.suicide{
    height: 330px;
    border-radius: 50%;
    margin-top: -850px;
    margin-left: 850px;

}
.division4{
    background-color: green;
    height: 300px;
    width: 700px;
    border-radius: 50%;
    margin-top: 50px;
    padding: 70px;
    margin-left: 600px;
}
.premiereapparition{
    height: 330px;
    border-radius: 30px;
    margin-top: -500px;
    margin-left: 70px;
}
.division5{
    background-color: green;
    height: 100px;
    width: 300px;
    margin-top: -100px;
    border-radius: 20%;
    padding: 32px;
}
.lien{
    color: orange;
    font-size: 21px;
    margin-left: 16px;
}
.lien2{
    color: white;
    font-size: 22px;
    margin-left: 16px;
}
.division6{
    background-color: green;
    height: 100px;
    width: 300px;
    margin-top: -100px;
    border-radius: 20%;
    padding: 32px;
    margin-right: 200px;
}

.bloc{
    color: black;
    background-color: white;
}

.dark-mode{
    background-color: black;
    color: white;
}

.dark-mode .presentation-contenu{
    background-color: rgb(44, 44, 51);
    color: white;
}

.dark-mode .division,
.dark-mode .division2,
.dark-mode .division3,
.dark-mode .division4,
.dark-mode .division5,
.dark-mode .division6 {
    background-color: darkgray;
    color: white;
}

.dark-mode .lien,
.dark-mode .lien2 {
    color: white;
}

.dark-mode p {
    color: white;
}

.bouton{
    background-color: green;
    color: black;
}

.dark-mode .bouton{
    background-color: black;
    color: white;
}